<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header class="navbar">
            <div class="nav-items">
                <div class="logo">
                    <h1><a>LT</a></h1>
                    <h1><a>"</a></h1>
                    <h1><a>Shop</a></h1>
                </div>
                <i class="fa-solid fa-bars" id="mobile-nav"></i>
            </div>
            <div class="nav-links">
                <ul>
                    <li ><a class="navlinks">Home</a></li>
                    <li ><a class="navlinks">Présentation</a></li>
                    <li ><a class="navlinks" href="./src/template/shop.html">Shop</a></li>
                    <li><a class="navlinks">Contact</a></li>
                </ul>
             </div>
        </header>
        {% block body %}{% endblock %}
    </body>
</html>
